.app
  .app-header
    background $baseColor
    color white
    padding-bottom 2em
    text-align center
    a
      color $linkColor
    .app-info
      margin-bottom 1em
      padding .5em 1.5em
      span
        display inline-block
        width 50%
        &.app-developed
          text-align left
        &.app-code
          text-align right
    .app-title
      font-size 3.5em
      margin 0
      text-shadow 2px 2px 0px $accentColor
    .app-powered
      display block
      margin-bottom 3em
    .category-select
      border 3px solid $accentColor
      border-radius 5px
      margin 0 auto
      width 300px
  .sources
    background rgba(0,0,0,.1)
    padding 1.5em 1.5em 1em 1.5em
    .sources-list
      columns 4
      list-style-type none
      margin 0
      padding 0 2em
      text-align left
      .sources-item
        .custom-checkbox
          .custom-control-indicator
            background-color rgba(150,150,150,.9)
  .news-list
    padding 0 2em
    .news-source
      border-bottom 1px solid #CCC
      color $baseColor
      margin 2em 0 1em 0
      padding-bottom .3em
      text-transform uppercase
    .card
      margin 1em 0
      .btn
        background $baseColor
        border-color $accentColor
      .date
        margin-bottom .5em
        text-align right
      .add-info
        margin-top 1em
        text-align right
