/* ==== COLORS ====================== */

$fontColor = #3c3c3b
$linkColor = #999
$midGrey = #888

/* ==== FONTS ====================== */
$vollkorn = 'Vollkorn SC', serif;
$merriweather = 'Merriweather', serif;

// Text font-size in px.
$fontSize = 16
